html{
    font-family: Helvetica, sans-serif;
    font-size: 12px;
}

body{
    overflow: hidden;
}

*{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

h1{
    font-weight: normal;
    font-size: 20px;
    margin: 0 0 10px;
    text-shadow: 0 1px 0 #fff;
}

table{
    width: 100%;
    background: #fff;
    border-collapse: collapse;
    border: 1px solid #ccc;
    max-height: 464px;
    overflow: auto;
}

thead th{
    font-weight: normal;
    text-align: left;
}

thead tr{
    background: #ccc -webkit-linear-gradient(top, rgba(255,255,255,0.3), rgba(255,255,255,0));
}

table td,
table th{
    padding: 3px 5px;
    position: relative;
}

tbody tr:nth-child(even){
    background-color: #F3F6FA;
}

#sites-table{
    border-top: 0;
    border-bottom: 0;
}

#sites-scroller{
    border-bottom: 1px solid #ccc;
    background-color: #fff;
    max-height: 240px;
    overflow: auto;
    display: block;
}

table th.key,
table td.key{
    width: 30%;
}

table th.url,
table td.url{
    width: 70%;
}

p.footer{
    font-size: 10px;
    text-shadow: 0 1px 0 #fff;
    margin: 5px 0 0
}
p.center{
    text-align: center;
}
p.footer code{
    background: #f8f8f8;
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 1px 2px;
}

p.footer select{
    width: 80px;
}

.error {
  color: red;
}
